.DS_Store
*.elc
ert.el
*.tar.bz2
*.tar
*~
\#*
neotree-autoloads.el
.smex-items
*~$
.#*
tmp
gplaces
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
autosaves
/.cask/*
Cask
smex-items
tramp
tramp
.mc-lists.el
eshell/history
network-security.data
tramp
var/
/eln-cache/
